body {
  background-color: rgb(243, 243, 243);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  float: left;
  display: flex;
  margin-top: 4%;
  margin-left: 8%
}
.toolui-card{
  margin-top: 7%;
  margin-left: 2%;
  height: 450px;
  width: 340px;
  position: 'relative';
}
.toolui{
  padding-top: 6%;
  margin-left:6%;
  width: 300px;
}
.multiselect{
  position:absolute
}
