body {
  background-color: rgb(235, 233, 233);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Product Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  float: left;
  display: flex;
  margin-top: 4%;
  margin-left: 2%
}
.toolui-card{
  margin-top: 7%;
  margin-right: 50px;
  height: 450px ;
  width: 340px;
  position: 'relative';
  overflow: visible;
}
.date{
  size: -10%;
}
.toolui{
  padding-top: 6%;
  margin-left:6%;
  padding-bottom: 100px;
  width: 300px;
  height: 1000px;
  overflow: auto;
}
.multiselect{
  position: 'absolute';
  overflow: 'visible';
}
.about-panel{
  margin-left: 40%;
  flex-grow: 1;
}
.graph-box{
  width:30px;
}
.graph{
  margin-left:-100px;
  margin-top:-30px
}